<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.snapshots.any? %>
      <h3>Snapshots <%= @user.snapshots.count %></h3>
      <ol class="snapshots">
        <%= render @snapshots %>
      </ol>
      <%= will_paginate @snapshots %>
    <% end %>
  </div>
</div>
