<li id="snapshot-<%= snapshot.id %>">
  <%= link_to gravatar_for(snapshot.user), snapshot.user %>
  <span class="user"><%= link_to snapshot.user.name, snapshot.user %></span>
  <span class="content"><%= snapshot.content %></span>
  <%= image_tag snapshot.display_image if snapshot.image.attached? %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(snapshot.created_at) %> ago.
    <% if current_user?(snapshot.user) %>
      <%= link_to "delete", snapshot, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </span>
</li>
